---
layout: layouts/base.njk
title: Menu
---

<h2>To eat</h2>
{% for card in trello.Food.cards %}
<section>
  <h3>{{ card.name }}</h3>
  <div>
    {{- card.desc | markdown | safe }}
  </div>
</section>
{% endfor %}

<h2>To drink</h2>
{% for card in trello.Drink.cards %}
<section>
  <h3>{{ card.name }}</h3>
  <div>
    {{- card.desc | markdown | safe }}
  </div>
</section>
{% endfor %}
