
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color: #fff;
$text-color: #333;
$highlight-color: #cc7a00;
$accent-color: #228f65;
$faint-accent-color: mix($accent-color, $page-color, 15%);
$dull-accent-color: mix($accent-color, $page-color, 50%);
