@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: $text-color;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  min-height: 100vh;

  @include bp(mid) {
    font-size: 16px;
  }
  @include bp(wide) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;

  @include bp(mid) {
    width: 70%;
  }
  @include bp(wide) {
    width: 700px;
  }

  img {
    width: 100%;
  }
}



header {
  display: block;
  position: relative;
  padding: 3em 0;

  .container {
    text-align: center;
  }


  h1 {
    font-size: 2rem;
    width: 4em;
    margin: 0 auto;
    padding: 0.3em;
    line-height: 0.9;
    border: solid 0.15em #fff;
    text-shadow: white 0 0 4px;
    box-shadow: white 0 0 10px;
    color: white;
    background-color: $accent-color;


    @include bp(mid) {
      font-size: 3rem;
    }
    @include bp(wide) {
      font-size: 4rem;
    }


  }

}
header::after {
  content: "";
  background-image: url(/images/taco-platter.jpg);
  background-size: cover;
  background-position-y: center;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

main {
  padding: 6rem 0;
}



h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom:1rem;
  line-height: 1;
}


p {
  margin-bottom: 1em;
}



a:link,
a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-color, $page-color, 10%);
}

a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

.strapline {
  display: inline-block;
  padding: 0.3em 0.8em;
  margin-top: 1em;
  background-color: #fff;
  color: $accent-color;;
  font-weight: bold;
  font-style: italic;
}


.trim {

  padding: 0.5em;
  background-color:  $accent-color;
}
.trim-orange {
  padding: 0.5em;
  background-color: $highlight-color;
}
.pattern {
  border: 1em solid #fff;
  border-image-source: url('/images/snake-pattern.svg');
  border-image-slice: 50% 0;
  border-image-repeat: round;
}




footer {
  padding-top: 4em;
  padding-bottom: 6em;
  font-size: 0.7em;
  background-color: #ddd;

  a:link,
  a:visited {
    color: $text-color;
    border-bottom: solid 1px $highlight-color;
  }

  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }

}

